<div class="my-product-card">
    <div class="my-product-card__wrap">
        <div class="product_img">
            <div class="product_img__body">
                <a href="{{product.url}}">
                    {% if img != blank %}
                        <img src="{{img | img_url : 'master'}}" alt="" style="max-width:{{img_width}}% !important;">
                        {% if shadow != blank %}
                            <img class="shadow-img" src="{{shadow | img_url : 'master'}}" alt="" style="max-width:{{shadow_width}}% !important;">
                        {% endif %}
                    {% else %}
                        <img  src="{{ product.images[0].src | product_img_url: 'large' }}" alt="{{ product.title }}" style="object-fit:cover; !important">
                    {% endif %}
                </a>
                
            </div>
        </div>



      

<form class="product-item-custom-form" method="post" action="/cart/add" data-productid="{{ product.id }}">
  
      <div class="product-item-custom-form-variants">
          {%- for variant in product.variants -%}
            {% if variant.title != 'Default Title' %}
                <div class="product-item-custom-form-variants-item">
                      <fieldset class="js product-forminput">   
                        <legend class="formlabel">{{ prodcut.title }}</legend>
                           <div class="collection-product-options-item" > 
                                  <input
                                    type="radio"
                                    name="productVariant-{{ product.id }}"
                                    id="{{ variant.id }}"
                                    value="{{ variant.id }}"
                                    form="{{ product_form_id }}"
                                    {% if product.variants.first.id  ==  variant.id %}
                                      checked
                                    {% endif %}
                                  >
                                  <label for="{{ prodcut.id }}">{{ prodcut.title }}</label>
                             </div> 
                            <p>{{ prodcut.price | money  }}</p>
                      </fieldset> 
                </div>
               {% endif %}
            {%- endfor -%}
      </div>

  
      <input class="product-item-custom-form-input" type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.variants.first.id }}" />
   <input type="submit" data-price="{{product.price | money  }}" value="Add to cart" class="custom-form-btn"/>  
  
    <!---  <a class="custom-form-btn" >Add to cart</a> --->
  <a class="custom-form-btn-mob" >Add to cart</a> 


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>  

  $('.custom-form-btn').click(function(){
    let productid = $(this).closest('.swiper-slide').find('.product-item-custom-form-input').val();
    console.log(productid);
    let data = {
      "id": productid,
      "quantity": 1
    }
    
    $.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 
        document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
          bubbles: true  //this code is for prestige theme, is to refresh the cart
       }));
      }
    });

    
  });

 
</script>   
                      
</form>


      


      
        <div class="product-btn">
            {% form 'product', product %}
                <input
                  type="hidden"
                  class="cart-id-first"
                  value="{{product.first_available_variant.id}}">
                <button class="add-my-cart">
                  Add to Cart
                </button>
              {% endform %}
        </div>
        <div class="product-title">
            <h3>
                <a href="{{product.url}}">
                    {{product.title}}
                </a>
                
            </h3>
        </div>
       
    </div>
</div>