<div class="my-product-card">
    <div class="my-product-card__wrap">
        <div class="product_img">
            <div class="product_img__body">
                <a href="{{product.url}}">
                    {% if img != blank %}
                        <img src="{{img | img_url : 'master'}}" alt="" style="max-width:{{img_width}}% !important;">
                        {% if shadow != blank %}
                            <img class="shadow-img" src="{{shadow | img_url : 'master'}}" alt="" style="max-width:{{shadow_width}}% !important;">
                        {% endif %}
                    {% else %}
                        <img  src="{{ product.images[0].src | product_img_url: 'large' }}" alt="{{ product.title }}" style="object-fit:cover; !important">
                    {% endif %}
                </a>
                
            </div>
        </div>


      
        <div class="product-btn">
            {% form 'product', product %}
                <input
                  type="hidden"
                  class="cart-id-first"
                  value="{{product.first_available_variant.id}}">
                <button class="add-my-cart">
                  Add to Cart
                </button>
              {% endform %}
        </div>
        <div class="product-title">
            <h3>
                <a href="{{product.url}}">
                    {{product.title}}
                </a>
                
            </h3>
        </div>
       
    </div>
</div>