<div class="page-width">
  <div class="left">
    <h2>{{ section.settings.title-left }}</h2>
    {%- for block in section.blocks -%}
       {% if block.settings.select-column == 'left' %}
         <div class="item ">
             <h3>
               <span>{{ block.settings.title }}</span>
               <span class="plus">+</span>
               <span class="minus">-</span>
             </h3>
           <div class="content">{{ block.settings.text }}</div>
         </div>
        {% endif %}
     {%- endfor -%} 
  </div>
  <div class="right">
    <h2>{{ section.settings.title-right }}</h2>
    {%- for block in section.blocks -%}
       {% if block.settings.select-column == 'right' %}
         <div class="item ">
             <h3>
               <span>{{ block.settings.title }}</span>
               <span class="plus">+</span>
               <span class="minus">-</span>
             </h3>
           <div class="content">{{ block.settings.text }}</div>
         </div>
        {% endif %}
     {%- endfor -%} 
  </div>
</div>
      
              
{% schema %}
{
  "name": {
    "en": "FAQ section"
  },
  "class": "custom-faq-section section",
  "settings": [
        {
          "type": "text",
          "id": "title-left",
          "label": "Title left"
        },
        {
          "type": "text",
          "id": "title-right",
          "label": "Title right"
        }
       
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Section items",
      "settings": [
        {
          "type": "select",
          "id": "select-column",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Select column"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Faq section"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}