<div class="page-width">
  <div class="wrap">
    <h1>{{ section.settings.title }}</h1>
    <div class="text">{{ section.settings.text }}</div>
      <div class="policy-tabs">
        {% for block in section.blocks %}
          <div class="item">
              <h3>{{ block.settings.title }} <span class="plus">+</span><span class="minus">-</span></h3>
              <img class="press-item-logo" src="{{ block.settings.logo | img_url: "master" }}">
              {%  if  block.settings.label != blank %}
                <a class="press-item-btn" href="{{ block.settings.link }}">{{ block.settings.label }}</a>
              {% endif %}
          </div>
        {% endfor %} 
      </div>
    </div>
</div>


{% schema %}
{
  "name": {
    "en": "Press section"
  },
  "class": "press-section section",
  "settings": [
       
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Section items",
      "settings": [
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Button Label"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": {
        "en": "Press section"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}