{%  assign  product =  section.settings.product%}
<div class="section-product">
    <div class="container">
        <div class="section-product__wrap">
            <div class="left">
                <div class="left__wrap">
                    <div class="product_img">
                        <div class="product_img__body">
                            {% comment %}<img  src="{{ product.images[0].src | product_img_url: 'large' }}" alt="{{ product.title }}"> {% endcomment %}
                            <img  src="{{ section.settings.img | img_url: 'master' }}" alt="{{ product.title }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right__wrap">
                    <div class="title">
                        <h2>
                            {{ section.settings.title}}
                        </h2>
                    </div>
                    <div class="text">
                            {{section.settings.text}}
                    </div>
                    {% if  section.blocks.size != 0 %}
                        <div class="icon-list">
                            {% for block in section.blocks %}
                                <div class="icon-item">
                                    <div class="icon-item__wrap">
                                        <div class="icon-img">
                                            <img src="{{block.settings.img | img_url: 'master'}}" alt="">
                                        </div>
                                        <div class="icon-text">
                                            <p>
                                                {{block.settings.icon_name}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                   {% if product  %}
                        <div class="product-btn my-product-card">
                            {% form 'product', product %}
                                <input
                                type="hidden"
                                class="cart-id-first"
                                value="{{product.first_available_variant.id}}">
                                <button class="add-my-cart">
                                Add to Cart
                                </button>
                            {% endform %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "section product",
      "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "product"
        },{
            "type": "image_picker",
            "id": "img",
            "label": "image"
        },{
            "type": "text",
            "id": "title",
            "label": "title"
        },{
            "type": "richtext",
            "id": "text",
            "label": "text"
        }
  
      ],
      "blocks": [
        {
          "name": "product",
          "type": "item",
          "settings": [
            {
                "type": "image_picker",
              "id": "img",
              "label": "icon"
            },
            {
                "type": "text",
                "id": "icon_name",
                "label": "icon name"
                }
          ]
        }
      ],
      "presets": [
        {
          "name": " section product"
        }
      ]
    }
  {% endschema %}