<div class="section-slider">
        <div class="swiper mySwiper" >
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="swiper-slide" style="background:{{block.settings.bg}}">
                 <div class="container">
                    <div class="left">
                        <div class="left__wrap">
                          <div class="image">
                            <div class="image__body">
                              <img src="{{block.settings.img | img_url: 'master'}}" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="right">
                        <div class="right__wrap">
                          <div class="name">
                            <span style="color:{{block.settings.color_text}};">
                              {{ block.settings.name }}
                            </span>
                          </div>
                          <div class="title">
                            <h2 style="color:{{block.settings.color_text}};">
                              {{ block.settings.title }}
                            </h2>
                          </div>
                          <div class="text" style="color:{{block.settings.color_text}} !important;">
                            {{ block.settings.text }}
                          </div>
                          <style>
                              .text p{
                                color:inherit !important;
                              }
                            </style>
                          <div class="slide-btn">
                            <a href="{{block.settings.url}}" class="btn">
                              {{ block.settings.btn_name }}
                              <svg
                                width="18"
                                height="6"
                                viewBox="0 0 18 6"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.6561 6C13.9162 5.45299 14.1676 4.97436 14.4104 4.5641C14.6705 4.15385 14.922 3.81197 15.1647 3.53846H0V2.46154H15.1647C14.922 2.17094 14.6705 1.82051 14.4104 1.41026C14.1676 1 13.9162 0.529914 13.6561 0H14.5665C15.659 1.24786 16.8035 2.17094 18 2.76923V3.23077C16.8035 3.81196 15.659 4.73504 14.5665 6H13.6561Z" fill="#3B4E15" />
                              </svg>
            
                            </a>
                          </div>
                        </div>
                      </div>
                 </div>
                 
                </div>
              {% endfor %}
            </div>
            <div class="swiper-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                  <circle cx="32" cy="32" r="32" fill="#FFF9EB"/>
                  <path d="M41.3121 38C41.8324 36.906 42.3353 35.9487 42.8208 35.1282C43.341 34.3077 43.8439 33.6239 44.3295 33.0769H14V30.9231H44.3295C43.8439 30.3419 43.341 29.641 42.8208 28.8205C42.3353 28 41.8324 27.0598 41.3121 26H43.1329C45.3179 28.4957 47.6069 30.3419 50 31.5385V32.4615C47.6069 33.6239 45.3179 35.4701 43.1329 38H41.3121Z" fill="#4F5E3C"/>
                </svg>

            </div>
            <div class="swiper-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                  <circle cx="32" cy="32" r="32" fill="#FFF9EB"/>
                  <path d="M41.3121 38C41.8324 36.906 42.3353 35.9487 42.8208 35.1282C43.341 34.3077 43.8439 33.6239 44.3295 33.0769H14V30.9231H44.3295C43.8439 30.3419 43.341 29.641 42.8208 28.8205C42.3353 28 41.8324 27.0598 41.3121 26H43.1329C45.3179 28.4957 47.6069 30.3419 50 31.5385V32.4615C47.6069 33.6239 45.3179 35.4701 43.1329 38H41.3121Z" fill="#4F5E3C"/>
                </svg>

            </div>
          </div>
</div>


{% schema %}
  {
    "name": "section slider",
    "blocks": [
      {
        "name": "slide",
        "type": "item",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "image"
          },
          {
            "type": "color",
            "id": "bg",
            "label": "background color",
            "default": "#4F5E3C"
          },
          {
            "type": "color",
            "id": "color_text",
            "label": "text color",
            "default": "#FFF9EB"
          },
          {
            "type": "text",
            "id": "name",
            "label": "name"
          }, {
            "type": "text",
            "id": "title",
            "label": "title"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "text"
          }, {
            "type": "url",
            "id": "url",
            "label": "url"
          }, {
            "type": "text",
            "id": "btn_name",
            "label": "btn name",
            "default": "Learn More"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": " section slider"
      }
    ]
  }
{% endschema %}