{{ 'custom-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-slider.js' | asset_url }}" defer="defer"></script>
<style>
#shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.bg }};
}

#shopify-section-{{ section.id }} .swiper-slide {

    {% if section.settings.slide_max_height != 0 %}
    max-height: {{ section.settings.slide_max_height }}px;
    {% endif %}
}

  </style>

<div class="custom-slider">
    <div class="custom-slider__title">
        {{ section.settings.text }}
    </div>
    <custom-slider 
        class="swiper my-custom-swiper" 
            data-per-page="{{ section.settings.per_page }}"
            data-per-page-mobile="{{ section.settings.mobile_per_page }}"
        >
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                <div class="swiper-slide">
                    <img src="{{ block.settings.img | image_url: width: '200' }}" alt="">
                    {% if block.settings.title != blank %}
                        <h3 class="slide-title title">{{ block.settings.title }}</h3>
                    {% endif %}
                    {% if block.settings.text != blank %}                     
                        <div class="slide-text">
                            <div>{{ block.settings.text }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if section.settings.pagination %}
            <div class="swiper-pagination"></div>
        {% endif %}
        {% if section.settings.arrows %}
            <div class="arrows"></div>
        {% endif %}
      
    </custom-slider>
</div>

{% schema %}
{
    "name": "Custom Slider",
    "settings": [
        {
            "type": "color",
            "id": "bg",
            "label": "Background color"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Paddind top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Paddind bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 60
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Our lotion is not just for the face! Our customers swear by its myriad of uses, have deemed it a multipurpose wonder, and must-have in their home: </p>"
        },
        {
            "type": "checkbox",
            "id": "pagination",
            "label": "Pagination",
            "default": false
        },
              {
            "type": "checkbox",
            "id": "arrows",
            "label": "Enable Arrows",
            "default": false
        },
        {
            "type": "number",
            "id": "per_page",
            "label": "Per page",
            "default": 3
        },
        {
            "type": "number",
            "id": "mobile_per_page",
            "label": "Mobile per page",
            "default": 2
        },
        {
            "type": "range",
            "id": "slide_max_height",
            "label": "Max height slide",
            "min": 0,
            "max": 500,
            "unit": "px",
            "step": 5,
            "default": 0,
            "info": "If '0' then the maximum height is ignored"
        }
    ],
    "blocks": [
        {
            "name": "Slide",
            "type": "slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Slider"
        }
    ]
}
{% endschema %}