<style>
    .section-nature-{{section.id}}{
        background:{{section.settings.bg}};
    }
    .section-nature-{{section.id}} .title h2{
        color: {{section.settings.color_title}};
        text-align: center;
        font-family: Montas;
        font-size:35px;
        font-style: normal;
        font-weight: 500;
        line-height: 111.111% ; /* 111.111% */
        margin:0;
    }
    .section-nature-{{section.id}} .section-nature-btn .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 62px;
        border: 1px solid {{section.settings.color_border_btn}};
        background: {{section.settings.color_bg_btn}};
        max-width: 276px;
        width:100%;
        text-decoration:none;
        color: {{section.settings.color_btn_text}};
        font-family: Montas;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 160% */
        letter-spacing: 1px;
        transition: all 0.4s ease-in-out;
    }
    .section-nature-{{section.id}} .section-nature-btn .btn:hover{
        color: {{section.settings.color_bg_btn}};
        background:{{section.settings.color_btn_text}};
        border: 1px solid  {{section.settings.color_bg_btn}};
        transition: all 0.4s ease-in-out;
    }
    .section-nature .single__wrap{
      height: 100%;
    }
    .section-nature__wrap  .images__wrap .single{
      width:100%;
      height: 100%;
    }
    @media max-width(767px) {
      .section-nature__wrap.section-nature__wrap-single {
        padding-top: 30%;
        padding-bottom: 30%;
      }
    }
</style>


<div class="section-nature section-nature-{{section.id}}">
    <div class="container">
       <div class="section-nature__wrap section-nature__wrap-single">
            <div class="images">
                <div class="images__wrap">
                    <div class="single">
                        <div class="single__wrap">
                            <div class="image">
                                <img src="{{section.settings.img_single | img_url: 'master'}}" alt="">
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="title">
                <h2>
                    {{section.settings.title}}
                </h2>
            </div>
            <div class="section-nature-btn">
                <a href="{{section.settings.url}}" class="btn">{{section.settings.btn_name}}</a>
            </div>
       </div>
    </div>
</div>

{% schema %}
    {
      "name": "section single image",
      "settings": [
        {
            "type": "color",
            "id": "bg",
            "label": "background color",
            "default": "#FFF9EB"
        },
        {
            "type": "image_picker",
            "id": "img_single",
            "label": "image single"
        },
        {
            "type": "text",
            "id": "title",
            "label": "title"
        },
        {
            "type": "color",
            "id": "color_title",
            "label": "color title",
            "default": "#FFF9EB"
        },
        {
            "type": "text",
            "id": "btn_name",
            "label": "btn name",
            "default": "Nature Connect"
        },
        {
            "type": "url",
            "id": "url",
            "label": "url"
        },
        {
            "type": "color",
            "id": "color_btn_text",
            "label": "color text btn",
            "default": "#FFF9EB"
        },
        {
            "type": "color",
            "id": "color_bg_btn",
            "label": "color background btn",
            "default": "#3B4E15"
        },
        {
            "type": "color",
            "id": "color_border_btn",
            "label": "color border btn",
            "default": "#FFF9EB"
        }

      ],
      "presets": [
        {
          "name": " section single image"
        }
      ]
    }
  {% endschema %}