<style>
    #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background-color: {{ section.settings.bg }};
    }
</style>
<div class="section-title">
    <p>{{ section.settings.label | strip_html }}<p>&nbsp;
    <h2>{{ section.settings.title }}</h2>
</div>

{% schema %}
{
    "name": "Title section",
    "settings": [
        {
            "type": "color",
            "id": "bg",
            "label": "Background color"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Paddind top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Paddind bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 60
        },
        {
            "type": "text",
            "id": "label",
            "label": "Label"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        } 
    ],
    "presets": [
        {
            "name": "Title section"
        }
    ]
}
{% endschema %}