{% assign size = 0 %}
{% assign color_1 = transparent %}
{% assign color_2 = transparent %}
{% for block in section.blocks %}
  {% if block.type == 'item' %}
    {% assign size = size | plus: 1 %}
    {% if forloop.index == 1 %}
      {% assign color_1 = block.settings.bg %}
    {% elsif forloop.index == 2 %}
      {% assign color_2 = block.settings.bg %}
    {% endif %}
  {% endif %}
{% endfor %}

{% style %}
  .banner-page-{{ section.id}}{
    overflow: hidden;
    position:relative;
  }
  .banner-page-{{ section.id}}::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    z-index:-1;
    {% if size > 1 %}
      background: linear-gradient(90deg, {{color_1}} 50%, {{color_2}} 50%);
    {% else %}
      background: {{ color_1}};
    {% endif %}
  }
  .banner-page-{{ section.id}}.banner-page__list {
    position: relative;

  }

  .banner-page .container{
    max-width: 2000px;
    padding: 0;
}
.banner-page .banner-page__list{
    display:flex;
    flex-wrap:wrap;
}
.banner-page .banner-page__list .item{
    width:50%;
}
.banner-page .banner-page__list .item-content .item__wrap{
    padding:clamp(100px,11.458vw,165px) 0;
    position: relative;
}

.banner-page .title{
    position: absolute;
    top: -3.5rem;
    left:0;
    width: 100%;
    margin: 0;
    z-index: 2;

}
.banner-page .title h2{
    color: #FFF9EB;

    text-align: center;
    font-family: Calvino Grande Trial;
    font-size: clamp(40px,7.639vw,110px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    margin:0;
}
.banner-page .title h2 span{
    font-style: italic;
}
.banner-page .banner-page__list .item-content .image{
    position: relative;
}
.banner-page .banner-page__list .item-content .image__body{
    display:flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%;
}
.banner-page .banner-page__list .item-content img{
    max-width: 54.723%;
}
.banner-page .banner-page__list .item-content{
  
}
.banner-page .banner-page__list  img{
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.banner-page .item__wrap, .banner-page .image{
    height: 100%;
}
.banner-page .item-btn{
    position: absolute;
    bottom:50px;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner-page .item-btn .a-btn{
    border: 1px solid var(--Dark-Green, #3B4E15);
    background: #FFF9EB;
    height: 62px;
    max-width: 276px;
    width:100%;
    justify-content: space-between;
    padding:0 31px;
    color: #3B4E15;
    transition: all 0.4s ease-in-out;
}
.banner-page .item-btn .a-btn:hover{
    color: #FFF9EB;
    background:  #3B4E15;
    transition: all 0.4s ease-in-out;
}
.banner-page .item-btn .a-btn:hover svg path{
    fill:#FFF9EB;
    transition: all 0.4s ease-in-out;
}

@media (max-width:767px){
    .banner-page .banner-page__list .item{
        width:100%;
    }
    .banner-page .banner-page__list::before{
        content:none !important;
    }
    .banner-page .item-content{
        padding-top:0 !important;
    }
}
  
{% endstyle %}


<div class="banner-page banner-page-{{section.id}} {% if settings.topBanner %}lorem{% else %}lorem2321{% endif %}">
  {{ s }}
  <div class="container">
    <div class="banner-page__wrap">
      <div class="banner-page__list">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'item' %}
            <div class="item item-content" style="background:{{block.settings.bg}}; padding-top: {{block.settings.pt}}px;">
              <div class="item__wrap">

                <div class="image">
                  <div class="title">
                    <h2>
                      {{ block.settings.title }}
                    </h2>
                  </div>
                  <div class="image__body">
                    <img src="{{block.settings.img | img_url: 'master'}}" alt="">
                  </div>

                </div>

                {% if block.settings.url != blank %}
                  <div class="item-btn">
                    <a href="{{block.settings.url}}" class="a-btn">{{ block.settings.btn_name }}
                      <svg
                        width="18"
                        height="6"
                        viewBox="0 0 18 6"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6561 6C13.9162 5.45299 14.1676 4.97436 14.4104 4.5641C14.6705 4.15385 14.922 3.81197 15.1647 3.53846H0V2.46154H15.1647C14.922 2.17094 14.6705 1.82051 14.4104 1.41026C14.1676 1 13.9162 0.529914 13.6561 0H14.5665C15.659 1.24786 16.8035 2.17094 18 2.76923V3.23077C16.8035 3.81196 15.659 4.73504 14.5665 6H13.6561Z" fill="#3B4E15" />
                      </svg>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
            {% when 'image' %}
            <div class="item">
              <div class="item__wrap">
                <div class="image">
                  <img src="{{block.settings.img | img_url: 'master'}}" alt="">
                </div>
              </div>
            </div>

          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "banner page",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "title"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "text"
      },
       {
        "type": "checkbox",
        "id": "topBanner",
        "label": "Top banner enable"
      }

    ],
    "max_blocks": 2,
    "blocks": [
      {
        "type": "item",
        "name": "item",
        "settings": [
          {
            "type": "range",
            "id": "pt",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "padding-top",
            "default": 0
          },
          {
            "type": "color",
            "id": "bg",
            "label": "background color",
            "default": "#4F5E3C"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "title"
          }, {
            "type": "url",
            "id": "url",
            "label": "url"
          }, {
            "type": "text",
            "id": "btn_name",
            "label": "btn name",
            "default": "Learn More"
          }

        ]
      }, {
        "type": "image",
        "name": "image",
        "settings": [

          {
            "type": "image_picker",
            "id": "img",
            "label": "image"
          }

        ]
      }


    ],
    "presets": [
      {
        "name": "banner page"
      }
    ]
  }
{% endschema %}